<div class="navbar">
    <div class="site-name">
        <h2>Student App</h2>
    </div>

    <div class="site-menu">
        <a href="#" [routerLink]="['Home']">Home</a>
        <a href="#" [routerLink]="['Course/Add']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Course</a>
        <a href="#" [routerLink]="['Teacher/Add']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Teacher</a>
        <a href="#" [routerLink]="['Student/Add']" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Student</a>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>

 