.navbar{
    display:flex;
    background-color: darkcyan;
}
.site-name{
    padding:5px 30px;
    color:aqua;
}
.site-menu{
    padding:10px 30px;
    margin-left:100px;
}
a{
    text-decoration:none;
    color:beige;
    margin:0px 20px;
}