@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');
*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family:'poppins';
    background-color: #ecedef;
    line-height:1.8;
}
a{
    text-decoration:none;
}
#container{
    max-width:430px;
    margin:30px auto;
    padding:20px;
}
.form-wrap{
    background-color: #fff;
    padding:15px 25px;
    color:#333;
    border-top:4px solid #494949;
    border-radius:05px;
}
.form-wrap h1,
.form-wrap p{
    text-align:center;
}
.form-wrap{
    margin-top:15px;
}
.form-wrap .form-group input{
    width:100%;
    padding:10px;
    border:#ddd 1px solid;
    border-radius:5px;
}
.form-wrap .form-group select{
    width:100%;
    padding:10px;
    border:#ddd 1px solid;
    border-radius:5px;
}



.form-wrap button{
    display:block;
    width:100%;
    padding :10px;
    margin-top:20px;
    background-color: #49c1a2;
    color:#fff;
    cursor:pointer;
    border:1px solid #49c1a2;
    font-family:'poppins';
    font-size:15px;
    transition:1s;

}
.form-wrap button:hover{
    background-color: #37a08e;
    transition: 1s;
}
.form-wrap .bottom-text{
    font-size:13px;
    margin-top:10px;

}
footer{
    text-align:center;
    margin-top:10px;
    color:#333;
}